{% load i18n staticfiles %}
<!DOCTYPE html>
<html xml:lang="{{ LANGUAGE_CODE }}" lang="{{ LANGUAGE_CODE }}" version="-//W3C//DTD XHTML 1.1//EN" xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <title>{% block title %}{% endblock title %}{% block title-page %}{% endblock title-page %}</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="cache-control" content="public" />
    <meta name="robots" content="follow, all" />
    <meta name="language" content="{{ LANGUAGE_CODE }}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="keywords" content="{% block meta-keywords %}django, blog, weblog, zinnia{% endblock meta-keywords %}" />
    <meta name="author" content="Fantomas42" />
    {% block meta %}{% endblock meta %}
    <link rel="pingback" href="/xmlrpc/" />
    <link rel="shortcut icon" href="{% static "zinnia/theme/img/favicon.ico" %}" />
    <link rel="stylesheet" href="{% static "css/normalize.css" %}" />
    <link rel="stylesheet" href="{% static "css/foundation.css" %}" />
    <link rel="stylesheet" href="{% static "img/foundation-icons.css" %}" />
    <!-- Custom css -->
    <link rel="stylesheet" href="{% static "css/app.css" %}">
    <!-- custom fonts -->
    <link href='http://fonts.googleapis.com/css?family=Dosis:400,500,600,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Merriweather:400,700' rel='stylesheet' type='text/css'>
    <script src="{% static "js/vendor/modernizr.js" %}"></script>
    <!--[if lt IE 8]>
        <link rel="stylesheet" type="text/css" media="screen, projection" href="{% static "zinnia/theme/css/ie.css" %}" />
    <![endif]-->
    {% block link %}{% endblock link %}
    {% block script %}{% endblock script %}
  </head>
  <body>
  <!-- Nav bar first -->
   <div class="contain-to-grid">
     <nav class="top-bar">
       <ul class="title-area">
         <li class="name">
          <a href="/" class="page-name">Leonardo's blog</a><b class="label beta">beta</b>
         </li>
         <li class="toggle-topbar menu-icon">
         </li>
        </ul>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="https://github.com/xpostudio4"><i class="fi-social-github social-navbar"></a></i></li>
            <li><a href="https://do.linkedin.com/in/leonardoajimenez"><i class="fi-social-linkedin social-navbar"></a></i></li>
            <li><a href="https://twitter.com/leonardoajim"><i class="fi-social-twitter social-navbar"></a></i></li>
            <li><a href="mailto:leonardo@codetiger.co"><i class="fi-mail social-navbar"></a></i></li>
          </ul>
        </section>
        <section class="top-bar-section">
          <ul class="right">
            <li><a href="/about/">About</a></li>
            <li><a href="/">Blog</a></li>
          </ul>
        </section>
     </nav>
  </div>
      
  <br/><br/>

  {% block content %}{% endblock content %}
  <!-- footer -->
  <div class="row">
    <div class="footer-space"><br></div>
  </div>

  <footer>
    <div class="row">
      <div class="large-6 columns left copyright">
        Copyright ©{% now "Y" %} Leonardo Jimenez. All Rights Reserved.
      </div>
      <div class="large-6 columns right">
        <section>
          <ul class="right inline-list">
            <li><a href="https://github.com/xpostudio4"><i class="fi-social-github social-footer"></a></i></li>
            <li><a href="https://do.linkedin.com/in/leonardoajimenez"><i class="fi-social-linkedin social-footer"></a></i></li>
            <li><a href="https://twitter.com/leonardoajim"><i class="fi-social-twitter social-footer"></a></i></li>
            <li><a href="mailto:leonardo@codetiger.co"><i class="fi-mail social-footer"></a></i></li>
          </ul>
        </section>
      </div>
    </div>
  </footer>

    <script src="{% static "js/vendor/jquery.js" %}"></script>
    <script src="{% static "js/foundation.min.js" %}></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
