{% extends 'zinnia/skeleton.html' %}

{% block content %}
<div class="row">
  <div class="large-3 large-offset-2 columns">
    <a class="th" href="github.com/xpostudio4">
      <img src="https://media.licdn.com/mpr/mpr/shrinknp_200_200/p/2/005/067/222/0e701ce.jpg">
    </a>
  </div>
  <div class="large-5 columns end">
    <p>Hi, my name is Leonardo.</p>
    <p>I live at the intersection of business and technology.</p>
    <p>I'm a software engineer with a background in operations. I can work with the full stack of an application, and can quickly adapt to unfamiliar environments and tools.</p>
    </p>
  </div>
  <div class="large-8 large-offset-2 small-8 small-offset-2 columns end">
    <p>I have applied computer science to my work through the automation of day to day tasks and I’m eager to transition to a full time developer position. I’m always striving to improve everyday as a developer and I’d love to work with a team of people that feel the same way.</p>
    <p>I'm a frecuent speaker about programming, technology and entrepreneurship in my community.</p>
    <p>Also I'm a member of multiple organizations advancing software development in my country.</p>
  </div>
  <div class="first-post large-8 large-offset-2 small-8 small-offset-2 columns end">
    <h1>Organizations I work with:</h1>
    <ul>
      <li>Co-Founder <a href="https://www.facebook.com/groups/pythondo/">Python Dominicana User Group</a></li>
      <li>Co-Founder <a href="https://www.facebook.com/groups/JavaScriptDominicana/">Javascript Dominicana User Group</a></li>
      <li>Co-Founder <a href="https://www.facebook.com/groups/hfsantodomingo/">Hacker and Founders Santo Domingo</a></li>
      <li>Lead organizer of <a href="startupeducation.do">Startup Weekend Education Santo Domingo</a></li>
   </ul>
  </div>
  <div class="first-post large-8 large-offset-2 small-8 small-offset-2 columns end">
    <h1>Some of my presentations:</h1>
    <div class="row">
      <div class="large-6 small-6 columns">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/bWMW0XGgYMVCA6" width="300" height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      </div>
      <div class="large-6 small-6 columns">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/jsMN3dDdQ0TaOJ" width="300" height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      </div>
      <div class="large-6 small-6 columns">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/7cs1fxvMBCUKj8" width="300" height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      </div>
      <div class="large-6 small-6 columns">
        <iframe src="//www.slideshare.net/slideshow/embed_code/key/xIC7oWzlkC2mTr" width="300" height="300" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; max-width: 100%;" allowfullscreen> </iframe>
      </div>
    </div>
  </div>

</div>

{% endblock content %}
